.env
.pylintrc
gpt-ds
ailios
info.json
conversation_logs
app.log
conversation_logging.json
.__init__.py
__pycache__
gpt-crawler/.*
knowledge-files/*
!knowledge-files/gpt-crawler/
!knowledge-files/static-files/
!knowledge-files/README.md